MetroAlarm/SampleData/SampleAlarmData/SampleAlarmData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleAlarmData" targetNamespace="Expression.Blend.SampleData.SampleAlarmData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleAlarmData" type="tns:SampleAlarmData" />
  <xs:complexType name="SampleAlarmData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="2,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="16,10" name="Desc" type="xs:string" />
    <xs:attribute blend:Format="Time" name="alarmTime" type="xs:string" />
  </xs:complexType>
</xs:schema>