MetroAlarm/SampleData/SampleAlarms/SampleAlarms.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleAlarms" targetNamespace="Expression.Blend.SampleData.SampleAlarms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleAlarms" type="tns:SampleAlarms" />
  <xs:complexType name="SampleAlarms">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute name="Name" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="10,8" name="Desc" type="xs:string" />
    <xs:attribute blend:Format="Date" name="alarmTime" type="xs:string" />
    <xs:attribute name="enabled" type="xs:string" />
  </xs:complexType>
</xs:schema>